<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR</title>
    
    <!-- favicon -->
    <link rel="shoctcut icon" type="image/x-icon" href="../static/img/favicon/favicon.ico">

  </head>
  <body>
    <H1>잘못된 경로입니다</H1>
    <button onclick="location.href='/'">메인으로</button>
  </body>
</html>
