<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>소모임 생성</title>

  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  </head>
<body>
  <div id="form">
    <div class="form-category">
      어떤 모임을 만들까요?
      <button class="cartegory-btn"> 액티비티 </button>
      <button class="cartegory-btn"> 푸드 </button>
      <button class="cartegory-btn"> 취미 </button>
      <button class="cartegory-btn"> 여행 </button>
    </div>

    <div>
      모임 이름은 
    </div>
  </div>

</body>
</html>