<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>소모임 생성</title>
    <link rel="stylesheet" href="/static/css/groupCreate.css" />

    <!-- favicon -->

    <link
      rel="shoctcut icon"
      type="image/x-icon"
      href="../static/img/favicon/favicon.ico"
    />

    <!-- 폰트 cnd -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />

    <!-- bootstrap cdn -->

    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" href="/static/css/ticket.css" />

    <!-- bootstrap cdn -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- bootstrap icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- 다음주소검색 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    
    <!-- SweatAlert CDN -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <header>
      <img class="logo" src="/static/img/logo.png" alt="Curbis" />
    </header>
    <div class="container">
      <div class="wrapper">
        <button class="backStep" onclick="goFirst()">이전으로</button>
        <ul class="steps">
          <button class="stop1" onclick="goFirst()">1 단계</button>
          <button class="stop2" onclick="secondStep()">2 단계</button>
          <button class="stop3" onclick="ThirdStep()">3 단계</button>
        </ul>
        <hr />
        <form class="form-wrapper" name="groupCreat">
          <fieldset class="sectionFirst">
            <h1>모임의 성격을 알려주세요!</h1>
            <div class="row cf">
              <div class="three col">
                <input
                  type="radio"
                  name="r1"
                  id="r1"
                  value="성장/자기계발"
                  onchange="selectImg1()"
                  checked
                />
                <label for="r1">
                  <h4>성장/자기계발</h4>
                </label>
              </div>
              <div class="three col">
                <input
                  type="radio"
                  name="r1"
                  id="r2"
                  value="운동/액티비티"
                  onchange="selectImg2()"
                /><label for="r2">
                  <h4>운동/액티비티</h4>
                </label>
              </div>
              <div class="three col">
                <input
                  type="radio"
                  name="r1"
                  id="r3"
                  value="파티/술"
                  onchange="selectImg3()"
                /><label for="r3">
                  <h4>파티/술</h4>
                </label>
              </div>
            </div>
            <br /><br /><br /><br />
            <button type="button" class="button" onclick="secondStep()">
              START
            </button>
            <br />
            <br />
            <br /><br />
            <button type="button" class="mainButton" onclick="goMain()">
              메인페이지로
            </button>
          </fieldset>
          <div class="secondFild">
            <fieldset class="sectionSecond">
              <!-- 이미지 지정 -->

              <span class="inputSpan"> 1. 모임 이미지 </span>
              <br /><br />
              <div class="profile-box form-div">
                <!-- <p class="form-item"></p> -->
                <div class="profile-div">
                  <img
                    id="preview"
                    src="../static/img/mountain-g7d103621e_1280.jpg"
                  />
                  <input
                    required
                    type="file"
                    name="dynamicFile"
                    id="dynamicFile"
                    onchange="readURL(this);"
                  />
                  <label
                    for="dynamicFile"
                    id="dynamicFile"
                    onclick="checkupload()"
                    >변경</label
                  >
                </div>
                <button
                  class="profile-save-btn"
                  type="button"
                  onclick="fileUpload();"
                >
                  저장
                </button>
              </div>
              <br /><br />
              <!-- 모임 제목  -->
              <span class="inputSpan"> 2. 모임 제목 </span>
              <input required type="text" name="text" />
              <br />

              <!-- 모임 소개글  -->

              <span class="inputSpan"> 3. 모임 소개글 </span>
              <div class="introduce">
                <label for="introduce"></label>
                <input required type="text" name="moreText" class="moreText" />
              </div>
              <br />

              <div class="inputwrap">
                <!-- 날짜, 시간 -->
                <div class="date">
                  <span class="inputSp"> 4. 장소 및 세부 일정 </span>
                  <label for="date" class="dateP"> 날짜 :</label>
                  <input
                    type="text"
                    name="date"
                    id="startDate"
                    placeholder="날짜를 선택해주세요"
                    readonly
                  />
                </div>
                <div class="time">
                  <label for="time" class="timeP">시간: </label>
                  <input type="time" name="time" maxlength="10" />
                </div>

                <!-- 모임 인원수 -->

                <label for="time" class="headcount">인원수: </label>
                <input
                  required
                  type="number"
                  name="headcount"
                  min="3"
                  max="6"
                  placeholder="3-6"
                />

                <br />

                <!-- 장소  -->
                <div class="form-div">
                  <p class="addressP">장소 :</p>
                  <input
                    required
                    id="address"
                    class="address"
                    name="address"
                    type="text"
                    placeholder="주소를 선택해주세요"
                  />
                </div>
              </div>

              <!-- 3단계 이동 버튼 -->
              <button type="button" class="button" onclick="ThirdStep()">
                모임 생성
              </button>
            </fieldset>
          </div>
          <fieldset class="sectionThird">
            <h1>모임 생성 완료!</h1>
            <p>이제 모임을 공유해보아요!</p>
            <div class="snsIcon">
              <a
                id="btnTwitter"
                class="link-icon twitter"
                href="javascript:shareTwitter();"
                ><img src="/static/img/icon-twitter.png" alt=""
              /></a>
              <a
                id="btnFacebook"
                class="link-icon facebook"
                href="javascript:shareFacebook();"
                ><img src="/static/img/icon-facebook.png" alt=""
              /></a>
              <a
                id="btnKakao"
                class="link-icon kakao"
                href="javascript:shareKakao();"
                ><img src="/static/img/icon-kakao.png" alt=""
              /></a>
              <a
                href="#"
                id="sns_urlCoby"
                class="btn_share_sns"
                title="새창"
                onclick="clip(); return false;"
              >
                <img src="/static/img/link.png" alt="" />
              </a>
            </div>
            <button type="button" class="mainButton" onclick="goMain()">
              메인페이지로
            </button>
          </fieldset>
        </form>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/groupCreate.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </body>
</html>
