<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>소모임 생성</title>
    <link rel="stylesheet" href="/static/CSS/groupCreate.css" />
    <!-- bootstrap cdn -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- bootstrap icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- 다음주소검색 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <ul class="steps">
          <li class="stop1">1 단계</li>
          <li class="stop2">2 단계</li>
          <li class="stop3">3 단계</li>
        </ul>
        <form class="form-wrapper">
          <fieldset class="sectionFirst">
            <h3>모임의 성격을 알려주세요!</h3>
            <div class="row cf">
              <div class="three col">
                <input type="radio" name="r1" id="r1" checked />
                <label for="r1">
                  <h4>성장/자기계발</h4>
                </label>
              </div>
              <div class="three col">
                <input type="radio" name="r1" id="r2" /><label for="r2">
                  <h4>운동/액티비티</h4>
                </label>
              </div>
              <div class="three col">
                <input type="radio" name="r1" id="r3" /><label for="r3">
                  <h4>파티/술</h4>
                </label>
              </div>
            </div>
            <br /><br /><br />
            <button class="button" onclick="step2()">Next</button>
          </fieldset>
          <fieldset class="sectionSecond">
            <h3>모임 생성하기</h3>
            <input type="text" placeholder="모임 소게글을 작성해주세요!" />
            <input class="datetime" type="datetime-local" />
            <!-- <input type="text" /> -->
            <div class="form-div">
              <button type="button" class="checkAdd" onclick="findAddr()">
                <label for="address" class="form-item"></label>
                <!-- <input type="text" name="address" id="address" required> -->

                <!-- <input id="member_post"  type="text" placeholder="Zip Code" readonly onclick="findAddr()"> -->
                <input
                  id="address"
                  name="address"
                  type="text"
                  placeholder="모임장소를 입력해주세요"
                  readonly
                />
                <br />
                주소검색
              </button>
              <!-- <input type="text" placeholder="Detailed Address"> -->
            </div>
            <button class="button" onclick="step3()">Next</button>
          </fieldset>
          <fieldset class="sectionThird">
            <h3>모임 생성 완료!</h3>
            <p>이제 모임을 공유해보아요!</p>
            <div class="urlWrap">
              <!-- 페이스북 공유하기 -->
              <a
                href="#"
                onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                target="_blank"
                alt="Share on Facebook"
              >
                페이스북
              </a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </body>
</html>
