<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURBIS</title>

    <!-- static 연결 -->
    <link rel="stylesheet" href="/static/CSS/main.css">
    
</head>
<body> 
    
<div class="container">
    <div class="buttonBox">
        <a href="/모임생성페이지" class="buttons" id="add"> <img src="/IMG/add.png" alt=""></a>
        <a href="/로그인페이지" class="buttons" id="login"><img src="/IMG/login.png" alt=""></a>
        <div class="buttons" id="alarm"><img src="/IMG/alarm.png" alt=""></div>
    </div>
    <div class="alarmList">
    </div>

    <div class="categories">
        <div class="categori_1">categori_1</div>  
        <div class="categori_2">categori_2</div>  
        <div class="categori_3">categori_3</div>  
        <div class="categori_4">categori_4</div>  
    </div>

    <div class="cards">
        <article type="total" class="cardArticle">
            <div class="card">
                <img src="/IMG/cat-7300029_640.jpg" alt="">
                <span>모임 제목1</span>
                <span>위치, 날짜, 시간, 모임인원</span>
                <div>
                    <p>#해쉬테그</p> 
                    <p>#해쉬테그</p>
                </div>
                <br>
                <div class="membersImg">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img id="addProfileImg" src="/IMG/plus.png" alt="add">
                </div>
            </div>
            <div class="card">
                <img src="/IMG/cat-7300029_640.jpg" alt="">
                <span>모임 제목2</span>
                <span>위치, 날짜, 시간, 모임인원</span>
                <div>
                    <p>#해쉬테그</p> 
                    <p>#해쉬테그</p>
                </div>
                <br>
                <div class="membersImg">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img id="addProfileImg" src="/IMG/plus.png" alt="add">
                </div>
            </div>
            <div class="card">
                <img src="/IMG/cat-7300029_640.jpg" alt="">
                <span>모임 제목3</span>
                <span>위치, 날짜, 시간, 모임인원</span>
                <div>
                    <p>#해쉬테그</p> 
                    <p>#해쉬테그</p>
                </div>
                <br>
                <div class="membersImg">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img id="addProfileImg" src="/IMG/plus.png" alt="add">
                </div>
            </div>
            <div class="card">
                <img src="/IMG/cat-7300029_640.jpg" alt="">
                <span>모임 제목4</span>
                <span>위치, 날짜, 시간, 모임인원</span>
                <div>
                    <p>#해쉬테그</p> 
                    <p>#해쉬테그</p>
                </div>
                <br>
                <div class="membersImg">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img id="addProfileImg" src="/IMG/plus.png" alt="add">
                </div>
            </div>
            <div class="card">
                <img src="/IMG/cat-7300029_640.jpg" alt="">
                <span>모임 제목5</span>
                <span>위치, 날짜, 시간, 모임인원</span>
                <div>
                    <p>#해쉬테그</p> 
                    <p>#해쉬테그</p>
                </div>
                <br>
                <div class="membersImg">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img id="addProfileImg" src="/IMG/plus.png" alt="add">
                </div>
            </div>
            <div class="card">
                <img src="/IMG/cat-7300029_640.jpg" alt="">
                <span>모임 제목6</span>
                <span>위치, 날짜, 시간, 모임인원</span>
                <div>
                    <p>#해쉬테그</p> 
                    <p>#해쉬테그</p>
                </div>
                <br>
                <div class="membersImg">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img class="profileImg" src="/IMG/little-panda-7504633_640.jpg" alt="">
                    <img id="addProfileImg" src="/IMG/plus.png" alt="add">
                </div>
            </div>
        </article>
        <div class="controls">
            <img class="left" src="/IMG/leftArrow.svg" alt="">
            <img class="right" src="/IMG/rightArrow.svg" alt="">
        </div>
        <div class="paginations"></div>
    </div>
</div>

<script src="/static/JS/main.js"></script>

</body>
</html>