<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>

    <!-- static 연결 -->
    <link rel="stylesheet" href="/static/CSS/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
    <!-- font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="buttonBox">
        <a href="/groupCreate" class="buttons" id="add">
          <img src="/static/img/add.png"
        /></a>
     
        <a href="/login" class="buttons" id="login"
        ><img id = 'profile'src=
        <% if (isLogin) { %>
        '<%= userInfo.picture %>'
      
        <% } else { %>
          "/static/img/profile-basic.png" 
        <% } %>
        alt=""
        /></a>
      </div>

      <div class="categories">
        <button class="categori_1">문화 예술</button>
        <button class="categori_2">운동/액티비티</button>
        <button class="categori_3">파티/술</button>
        <button class="categori_4">성장/자기계발</button>
      </div>

      <div class="container">
        <div class="cards">
          <article type="total" class="cardArticle">
            <div class="card">
              <img src="../static/img/concert-g3e959554c_1280.jpg" alt="" />
              <h3><%= result[0].name %></h3>
              <br />
              <div class="profiledata">
                <div>장소 :</div>
                <div>마포역 4번출구</div>
              </div>
              <div class="profiledata">
                <div>날짜 :</div>
                <div>2022.11.26</div>
              </div>
              <div class="profiledata">
                <div>시간 :</div>
                <div>18:30</div>
              </div>
              <div class="profiledata">
                <div>인원 :</div>
                <div>4/5</div>
              </div>
              <br />
              <div class="membersImg">
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
              </div>
            </div>
            <div class="card">
              <img src="../static/img/concert-g3e959554c_1280.jpg" alt="" />
              <span>모임 제목1</span>
              <span>위치, 날짜, 시간, 모임인원</span>
              <div>
                <p>#해쉬테그</p>
                <p>#해쉬테그</p>
              </div>
              <br />
              <div class="membersImg">
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
              </div>
            </div>
            <div class="card">
              <img src="../static/img/concert-g3e959554c_1280.jpg" alt="" />
              <span>모임 제목1</span>
              <span>위치, 날짜, 시간, 모임인원</span>
              <div>
                <p>#해쉬테그</p>
                <p>#해쉬테그</p>
              </div>
              <br />
              <div class="membersImg">
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
              </div>
            </div>
            <div class="card">
              <img src="../static/img/concert-g3e959554c_1280.jpg" alt="" />
              <span>모임 제목1</span>
              <span>위치, 날짜, 시간, 모임인원</span>
              <div>
                <p>#해쉬테그</p>
                <p>#해쉬테그</p>
              </div>
              <br />
              <div class="membersImg">
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
                <img
                  class="profileImg"
                  src="../static/img/profileBasic.png"
                  alt=""
                />
              </div>
            </div>
          </article>
        </div>
        <div class="controls">
          <button class="prev">왼쪽으로</button>
          <button class="next">오른쪽으로</button>
        </div>
      </div>
    </div>

    <script src="../static/js/main.js"></script>
  </body>
</html>
