<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>SEARCH</title>
    <link rel="stylesheet" href="/static/CSS/">
</head>
<body>
    <div class="searchBox">
        <input type="text" >                                                                       
        <img class="search" src="/IMG/search.png" alt="">
    </div>
    <div class="tagWrap">
        <div class="hashTag">#해쉬테그</div>
        <div class="hashTag">#해쉬테그</div>
        <div class="hashTag">#해쉬테그</div>
    </div>
    <div class="cards">
        <div class="card">
            <img src="/IMG/cat-7300029_640.jpg" alt="">
            <h3>모임제목</h3>
            <h5>모임장소, 날짜, 시간, 모임인원</h5>
            <img src="/IMG/little-panda-7504633_640.jpg" alt="" class="profileImg">
            <img src="/IMG/little-panda-7504633_640.jpg" alt="" class="profileImg">
            <img src="/IMG/little-panda-7504633_640.jpg" alt="" class="profileImg">
            <div class="profileImg"></div>

            
        </div>
    </div>
</body>
</html>