<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script type="text/javascript">
      //보이기
      function div_show() {
        document.getElementById("test_div").style.display = "block";
      }

      //숨기기
      function div_hide() {
        document.getElementById("test_div").style.display = "none";
      }
    </script>
    <div style="border: 1px solid" id="test_div">내용입니다.</div>

    <input type="button" value="보이기" onclick="div_show();" />
    <input type="button" value="숨기기" onclick="div_hide();" />
  </body>
</html>
