* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}

body {
  background-color: rgb(26, 31, 39);
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 1020px;
  /* height: 100vh; */
  /* padding-bottom: 5%; */
  margin: 0px auto;
}

.card > .profiledata {
  display: flex;
  font-size: 1rem;
  /* margin-top: -10px; */
  justify-content: space-around;
}

.buttonBox {
  position: relative;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  height: 10vh;
  /* max-width: 400px;
  min-width: 250px; */
  /* left: 50vh; */
  /* justify-content: space-around; */
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  /* width: 100%;/ */
}

.card:hover {
  bottom: 20px;
}

.buttonBox a {
  text-decoration: none;
  color: white;
}

.groupCreate {
  border: #f49d1a;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  right: -837px;
  border-radius: 15px;
  bottom: -55px;
  width: 150px;
  background-color: #f49d1a;
  height: 40px;
}

.groupFind {
  border: #f49d1a;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  right: -658px;
  border-radius: 15px;
  bottom: -16px;
  width: 150px;
  background-color: #f49d1a;
  height: 40px;
}

#profile {
  margin: 0 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dcdcdc4a;
}

.categories {
  display: none;
  /* display: flex; */
  justify-content: center;
  width: 600px;
  border-radius: 30%;
  border: 1px solid white;
  background-color: #ff9671;
  box-shadow: rgb(95, 95, 95);
}

.categories > button {
  /* width: calc(33.3333%); */
  width: 100%;
  height: 47px;
  min-height: 25px;
  cursor: pointer;
  /* display: flex; */
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #ff9671;
  border: 1px solid white;
  border-radius: 30%;
}

.cardArticle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* position: relative; */
  padding-top: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  animation: fadeinLeft;
  top: 80px;
  height: 60vh;
  /* -webkit-box-pack: start; */
  /* -webkit-box-align: center; */
  /* transition: transform 0.5s; */
}

@keyframes fadeInLeft {
  0% {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.card {
  position: relative;
  /* padding: 10px; */
  margin: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 510px;
  width: 300px;
  /* max-width: 300px; */
  min-width: 300px;
  background-color: #ff6f91;
  border-radius: 16px;
  box-shadow: rgb(0 0 0) 2px 5px 6px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  font-size: 1rem;
  color: azure;
}

.card > * {
  justify-content: space-around;
  margin: auto;
}
.card > img {
  height: 200px;
  width: 100%;
  max-width: 300px;
  min-width: 270px;
  object-fit: cover;
  position: relative;
  top: -20px;
}

.membersImg {
  align-items: baseline;
}

.profileImg {
  width: 100%;
  max-width: 50px;
  min-width: 50px;
  background-color: rgba(250, 235, 215, 0.253);
  border-radius: 50%;
  height: 100%;
  max-height: 50px;
  min-height: 50px;
  object-fit: cover;
}

#addProfileImg {
  padding: 5px;
  width: 100%;
  max-width: 30px;
  min-width: 30px;
  background-color: rgba(250, 235, 215, 0.253);
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  max-height: 30px;
  min-height: 30px;
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 rgb(100, 100, 100));
  filter: opacity(0.5) drop-shadow(0 0 0 gray);
}

.controls {
  opacity: 0.6;
  filter: opacity(0.8) drop-shadow(0 0 0 #ff9671);
}

.prev {
  background-image: url("../img/left-arrow.png");
  position: absolute;
  bottom: 30vh;
  left: 10%;
  cursor: pointer;
}

.next {
  background-image: url("../img/right-arrow.png");
  position: absolute;
  bottom: 30vh;
  right: 10%;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  width: 55px;
  height: 55px;
  opacity: 0.8;
}

.controls button {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  /* display: flex; */
  /* justify-content: space-between; */
  display: inline-block;
  border: 0;
}

.hi {
  color: white;
}

.logout-btn {
  margin: 0 10px;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  /* border: 1px solid #FF9671; */
  text-align: center;
  background-color: rgba(62, 60, 60, 0.952);
}

.logout-btn:hover {
  opacity: 0.8;
}

.logo {
  width: 146px;
  position: fixed;
  top: 50px;
  left: 10%;
}

.login-btn:hover {
  color: #ff9671;
}

.login-btn {
  font-size: 18px;
}

.serch-box {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serch-div {
  background-color: #ff9671;
  width: 70%;
  height: 50px;
  border-radius: 14px;
  display: flex;
  align-items: center;
}

.serch-input {
  height: 32px;
  width: 609px;
  border-radius: 3px;
  border: 0;
  margin: 0 10px;
  padding: 0 20px;
  color: black;
}

.serch-btn {
  font-size: 20px;
  background-color: transparent;
  border: 0;
  margin: 8px;
}

/* .detail {
  position: fixed;
  bottom: 10%;
  left: 25%;
  display: flex;
  width: 40vw;
  height: 70vh;
  background-color: rgb(26, 31, 39);
  display: none;
} */


#modal.modal-overlay{
  display: none;

  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
  background: rgb(26 31 39);
  box-shadow: rgba(26, 31, 39, 0.448);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 567px;
  height: 95%;
  position: relative;
  /* top: -80px; */
  padding: 10px;
}

#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
  font-size: 18px;
}

#modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#modal .title h2 {
  display: inline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  width: 100%;
  height: 90%;
}

.content > div {
  width: 62%;
  margin: 10px 0;
  color: #ffffffe3;
  padding-top: 4px;
  border-radius: 5px;
  border: 1px solid #ffffff91;
  background-color: #ffffff24;
  margin: 13px 0;
  padding: 10px;
  position: relative;
  justify-content: center;
}

.group-pic {
  width: 60%;
  height: 20%;
}

.group-in-btn {

  color: #ffffff;
  position: relative;
  top: 10px;
  left: 420px;
  background-color: #f49d1a;
  width: 128px;
  height: 42px;
  font-size: 16px;
  border-radius: 7px;
  border: none;
}

.group-name {
  margin-top: 10px;
}

.group-notice > div > img {
  height: 25px;
  margin: 9px;
}

.group-notice > div > div {
  height: 25px;
  margin: -7px;
  position: relative;
  top: -27px;
  left: 56px;
  font-size: 18px;
}

.profils {
  display: flex;
}
.userProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 4px;
  justify-content: center;
}

  color: black;
}

.after-check {
  display: none;
}

